#recipe-section input {
  width: 3em;
}

#recipe-section {
  .row {
    margin: 0;
  }
  #ingredients {
    margin-top: 15px;
    .row {
      margin: 5px 0 0;
    }
  }
}

.alert {
  margin-top: 15px;
}
