{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="modal fade" id="commoditySelection" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Select start month [optional]</h4>
        </div>
        <div class="modal-body">
          <p>Defaults to 12 months ago: select a month if you need a different timespan, e.g. since you're last negotation</p>
          <p class="bg-warning">Note this will reload the page - losing your current recipe! - so set it first!</p>
          <input type="month" id="date-picker" value="{{ date }}">
          <button type="button" class="btn btn-default btn-xs" id="date-submit">Use this date</button>
        </div>
        <div class="modal-header">
          <h4 class="modal-title">Select a name for your recipe</h4>
        </div>
        <div class="modal-body">
          <input type="text" id="recipe-name-input">
        </div>
        <div class="modal-header">
          <h4 class="modal-title">Select commodities to include in your recipe</h4>
        </div>
        <div class="modal-body">
          {% for commodity in commodities %}
            <button type="button" class="btn btn-default commodity">{{ commodity.display }}</button>
          {% endfor %}
          <div class="alert alert-danger hidden" role="alert" id="no-selection-warning">Please select one or more commodities and click 'Apply changes'</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id='dismiss'>Exit without changes</button>
          <button type="button" class="btn btn-primary" id="apply">Apply changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="container hidden" id="wrapper">

    <section id="recipe-section">
      <h1>Recipe: <span id="recipe-name"></span></h1>
      <div id="ingredients"></div>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-default" id="modify">Modify ingredients</button>
        </div>
      </div>
    </section>

    <section id="headline-section">
      <h1>Headline Change: <span id="headline-change"></span>%</h1>
    </section>

    <section id="chart-section">
      <h1>Indexed Commodity Prices</h1>
      <div id="chart"></div>
    </section>

  </div>

{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript">
    var dates = {{ dates|safe }};
    var priceIndices = {{ price_indices|safe }};
  </script>
  <script src="{% static "js/scripts.min.js" %}"></script>
{% endblock %}
