{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="modal fade" id="commoditySelection" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Select commodities to add to your recipe</h4>
        </div>
        <div class="modal-body">
          {% for commodity in commodities %}
            <button type="button" class="btn btn-default btn-lg commodity">{{ commodity.display }}</button>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Exit without changes</button>
          <button type="button" class="btn btn-primary">Apply changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <h1>Indexed Commodity Prices</h1>

  <div id="chart"></div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static "js/scripts.min.js" %}"></script>
  <script type="text/javascript">
    var dates = {{ dates|safe }};
    var priceIndices = {{ price_indices|safe }};

    var blend = [{
      'display': 'Corn',
      'percentage': 0.2
    }, {
      'display': 'Wheat',
      'percentage': 0.8
    }]

    $(function() {

      $('#commoditySelection').modal()

      $('#commoditySelection .commodity').click(function() {
        $(this).toggleClass('btn-success active').blur();
      });

      chart.init();

    });
  </script>
{% endblock %}
