{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="modal fade" id="commoditySelection" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Select start month [optional]</h4>
        </div>
        <div class="modal-body">
          <p>Defaults to 12 months ago: select a month if you need a different timespan, e.g. since you're last negotation</p>
          <p class="bg-warning">Note this will reload the page - losing your current recipe! - so set it first!</p>
          <input type="month" id="date-picker" value="{{ date }}">
          <button type="button" class="btn btn-default btn-xs" id="date-submit">Use this date</button>
        </div>
        <div class="modal-header">
          <h4 class="modal-title">Select a name for your recipe</h4>
        </div>
        <div class="modal-body">
          <input type="text" id="recipe-name-input">
        </div>
        <div class="modal-header">
          <h4 class="modal-title">Select commodities to include in your recipe</h4>
        </div>
        <div class="modal-body">
          {% for group in commodities %}
            <div class="row">
              {% for commodity in group %}
                <button type="button" class="btn btn-default commodity">{{ commodity.display }}</button>
              {% endfor %}
            </div>
          {% endfor %}
          <div class="alert alert-danger hidden" role="alert" id="no-selection-warning">Please select one or more commodities and click 'Apply changes'</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id='dismiss'>Exit without changes</button>
          <button type="button" class="btn btn-primary" id="apply">Apply changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="container hidden" id="wrapper">

    <section id="recipe-section">
      <h1>Recipe: <span id="recipe-name"></span></h1>
      <p id="recipe-instruction">Assign units based on relative cost at the start of the period:</p>
      <div id="ingredients"></div>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-default" id="modify">Modify ingredients</button>
        </div>
      </div>
    </section>

    <hr>

    <section id="chart-section">
      <h1>Indexed Commodity Prices</h1>
      <div id="chart"></div>
    </section>

    <section id="headline-section">
      <p class="intro">Based on the above recipe, the overall product cost <span id="headline-change"></span></p>
    </section>

    <footer id="footer">
      <p>The chart shows the cost evolution over the period for each recipe ingredient and the cost evolution for the overall product based on the relative proportion of ingredients defined in the recipe.</p>
      <p>Individual data points represent the most recent available USD/unit spot price for the given month, indexed relative to a value of 100 at the start of the period.</p>
      <p>Where a value is not available for a given month values are applied from the previous available month.</p>
      <p>Data is sourced from <a href="https://www.quandl.com" target="_blank">Quandl</a> using the following datasets from the <a href="https://www.quandl.com/data/COM-WIKI-Commodity-Prices" target="_blank">WIKI Commodity Prices</a> database:</p>
      <ul id="commodity-detail"></ul>
    </footer>

  </div>

{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript">
    var dates = {{ dates|safe }};
    var priceIndices = {{ price_indices|safe }};
  </script>
  <script src="{% static "js/scripts.min.js" %}"></script>
{% endblock %}
